.container h1 {
    font-size: 3em;
    color: var(--sub);
}

.container button {
    font-style: italic;

}

@media (min-width:250px) {
    /*********************************************** swiper start  ***********************************************/
    .container{
        margin-top: 100px;
    }
    .container2{
        gap: 0;
    }
    .swiper {
        width: 100%;
    }
    
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .swiper-slide {
        padding: 2em;
        cursor: grab;
        min-height: 100vh;
        width: 100%;
    
    }
    
    .swiper-slide:active {
        cursor: grabbing;
    }
    
    .swiper-slide:nth-child(1) {
        background-image: url(../images/bg1.jpg);
        background-position: center;
        background-size: cover;
        min-height: 100vh;
    }
    
    /* .swiper-slide:nth-child(2) {
        background-image: url(../images/bg2.jpg);
        background-position: center;
        background-size: cover;
    } */
    
    .swiper-slide:nth-child(2) {
        background-image: url(../images/bg8.webp);
        background-position: center;
        background-size: cover;
        min-height: 100vh;
    }
    
    .swiper-slide:nth-child(2) .vid {
        width: 350px;
        margin-top: -150px;
    }
    
    .swiper-slide:nth-child(2) .vid video {
        width: 100%;
        background-color: none;
        border-radius: 16px;
    }
    
    .swiper-slide:nth-child(2) .para p {
        width: 250px;
        font-size: 30px;
    }
    
    .swiper-slide:nth-child(3) {
        background-image: url(../images/bg7.jpeg);
        background-position: center;
        background-size: cover;
        min-height: 100vh;
    }
    
    .swiper-slide:nth-child(3) .image {
        width: 600px;
    }
    
    .swiper-slide:nth-child(3) .image .colors {
        width: 200px;
        padding: 8px;
    }
    
    .swiper-slide:nth-child(3) .image .colors img {
        width: 100%;
        transform: scale(0.8);
    }
    
    .swiper-slide:nth-child(3) .image .colors img:hover {
        transform: scale(1);
    }
    
    .swiper-slide:nth-child(3) .para2 {
        width: 250px;
    }
    .swiper-slide:nth-child(3) .para2 h1{
        font-size: 30px;
    }

    .swiper-button-prev,
.swiper-button-next{
    display: none;
}
    
    .card {
        width: 400px;
        padding: 16px;
        border-radius: 16px;
        transform: scale(0.7);
        box-shadow: 0 0 10px var(--shd);
        position: relative;
        overflow: hidden;
        background-color: var(--main);
    
    }
    
    .card:nth-child(2) {
        transform: scale(0.8);
    }
    
    .card::before {
        content: attr(data-sold);
        position: absolute;
        background-color: var(--sub2);
        padding: 6px;
        color: var(--main);
        min-width: 140px;
        text-align: center;
        rotate: -45deg;
        left: -33.5px;
        top: 25.5px;
    }
    
    .card:hover {
        transform: scale(0.9);
    
        button {
            transform: scale(0.9);
        }
    }
    
    .card:nth-child(2):hover {
        transform: scale(1);
    
        button {
            transform: scale(1);
        }
    }
    
    .card img {
        width: 100%;
        padding: 8px;
        border-radius: 16px;
    }
    
    .card button {
        transform: scale(0);
    }
    .cards{
        flex-direction: column;
    }
    /*********************************** swiper end  ***********************************************/
        
    }

@media (min-width:800px) {

/*********************************** swiper start  ***********************************************/
.swiper {
    width: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    padding: 2em;
    cursor: grab;
    min-height: 100vh;
    width: 100%;

}

.swiper-slide:active {
    cursor: grabbing;
}

.swiper-slide:nth-child(1) {
    background-image: url(../images/bg1.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

/* .swiper-slide:nth-child(2) {
    background-image: url(../images/bg2.jpg);
    background-position: center;
    background-size: cover;
} */

.swiper-slide:nth-child(2) {
    background-image: url(../images/bg8.webp);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.swiper-slide:nth-child(2) .vid {
    width: 650px;
}

.swiper-slide:nth-child(2) .vid video {
    width: 100%;
    background-color: none;
    border-radius: 16px;
}

.swiper-slide:nth-child(2) .para p {
    width: 450px;
    font-size: 30px;
}

.swiper-slide:nth-child(3) {
    background-image: url(../images/bg7.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.swiper-slide:nth-child(3) .image {
    width: 950px;
}

.swiper-slide:nth-child(3) .image .colors {
    width: 300px;
    padding: 8px;
}

.swiper-slide:nth-child(3) .image .colors img {
    width: 100%;
    transform: scale(0.8);
}

.swiper-slide:nth-child(3) .image .colors img:hover {
    transform: scale(1);
}

.swiper-slide:nth-child(3) .para2 {
    width: 300px;
}

.card {
    width: 400px;
    padding: 16px;
    border-radius: 16px;
    transform: scale(0.7);
    box-shadow: 0 0 10px var(--shd);
    position: relative;
    overflow: hidden;
    background-color: var(--main);

}

.card:nth-child(2) {
    transform: scale(0.8);
}

.card::before {
    content: attr(data-sold);
    position: absolute;
    background-color: var(--sub2);
    padding: 6px;
    color: var(--main);
    min-width: 140px;
    text-align: center;
    rotate: -45deg;
    left: -33.5px;
    top: 25.5px;
}

.card:hover {
    transform: scale(0.9);

    button {
        transform: scale(0.9);
    }
}

.card:nth-child(2):hover {
    transform: scale(1);

    button {
        transform: scale(1);
    }
}

.card img {
    width: 100%;
    padding: 8px;
    border-radius: 16px;
}

.card button {
    transform: scale(0);
}

/*********************************** swiper end  ***********************************************/
    
}

/*********************************** container3 start  ***********************************************/
.container3 {
    background-image: url(../images/home-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 30vh;
}

/*********************************** container3 end  ***********************************************/

/*********************************** service start  ***********************************************/

.service img {
    width: 400px;
    transform: scale(0.9);
    border-radius: 8px;
}

.service .para2 {
    transform: scale(0);
    width: 400px;
}

.image2 {
    transform: scale(0.9);
}

.service .image2:nth-child(1):hover {
    transform: scale(1);

    .para2 {
        transform: scale(1);
    }
}

.service .image2:nth-child(2):hover {
    transform: scale(1);

    .para2 {
        transform: scale(1);
    }
}

/*********************************** service end  ***********************************************/

/*********************************** container4 start  ***********************************************/

.container4 {
    width: 100%;

    background-image: url(../images/bg10.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*********************************** container4 end  ***********************************************/

/*********************************** container5 start  ***********************************************/

.container5 {
    width: 100%;
    background-image: url(../images/bg9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*********************************** container5 end  ***********************************************/


/*********************************** container6 start  ***********************************************/

.container6 {
    width: 100%;
    background-image: url(../images/bg5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*********************************** container6 end  ***********************************************/

/****************************  counetr start  ***********************************************/
section {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url(../images/rug-h.jpg);
}

section p {
    font-family: subFont;
    font-weight: 800;
}

.nums {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.nums .num {
    flex: 1;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}


/****************************  counetr end  ***********************************************/


/****************************  allow cookies start  ***********************************************/


.allow-cookies {
    position: fixed;
    width: 100%;
    color: var(--sub2);
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 15px;
    font-size: 20px;
}

.allow-cookies h3 {
    font-family: subFont;

}

.fa-close {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: var(--main);
    font-size: 20px;
    padding: 11px;
    border-radius: 8px;
    text-align: center;
    color: var(--sub2);
}

.fa-close:hover {
    transform: scale(0.9);
    background-color: var(--sub2);
    color: var(--main);
}

.allow-cookies.hide {
    display: none;
    ;
}

/****************************  allow cookies end  ***********************************************/